name: delivery

on:
  workflow_dispatch:

jobs:
  version:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v6

    - name: Setup uv and Python
      uses: astral-sh/setup-uv@v7
      with:
        version: latest

    - name: Bump Version
      run: |
        uv version --bump patch
        echo PROJECT_VERSION=$(uv run python -c "from importlib.metadata import version; print(version('iceberg-mcp-server'))") > $GITHUB_ENV

    - name: Commit Version
      uses: stefanzweifel/git-auto-commit-action@v7
      with:
        commit_message: "chore: bump version to v${{ env.PROJECT_VERSION }}"

  publish:
    runs-on: ubuntu-latest

    needs: version

    environment:
      name: pypi
      url: https://pypi.org/p/iceberg-mcp-server

    permissions:
      id-token: write
      contents: write

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v6
      with:
        ref: ${{ github.ref }}

    - name: Setup uv and Python
      uses: astral-sh/setup-uv@v7
      with:
        version: latest

    - name: Build with uv
      run: uv build
        
    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1

    - name: Prepare Release
      run: |
        echo PROJECT_VERSION=$(uv run python -c "from importlib.metadata import version; print(version('iceberg-mcp-server'))") > $GITHUB_ENV
        uv run pip download iceberg-mcp-server==${{ env.PROJECT_VERSION }} --only-binary=:all: --no-deps

    - name: Release Version
      uses: softprops/action-gh-release@v2
      with:
        tag_name: "v${{ env.PROJECT_VERSION }}"
        generate_release_notes: true
        make_latest: true
        files: iceberg_mcp_server-${{ env.PROJECT_VERSION }}-py3-none-any.whl
        body: |
          * View on PyPI at: https://pypi.org/project/iceberg-mcp-server/${{ env.PROJECT_VERSION }}/
          * Run `uvx iceberg-mcp-server@latest` to use with latest release, or `uvx iceberg-mcp-server@${{ env.PROJECT_VERSION }}` to use with this specific release.